.ContactUs {
    width: 100%;
    margin-top: 100px;
    position: relative;
}

.ContactUs-Wrapper {
    width: 100%;
}

.ContactUs-TitleBlock {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}

.ContactUs-Title {
    font-size: 22px;
    font-weight: 800;
    color: #585858;
}



.ContactUs-Content {
    display: flex;
}

.ContactUs-TextBox {
    width: 20%;
    margin-right: 40px;
}

.ContactUs-Text {
    font-size: 12px;
    line-height: 18px;
    font-weight: 600;
    color: #9a9a9a;
    margin-bottom: 14px;
}

.ContactUs-Form {
    width: 77%;
}

.ContactUs-Form-Row {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
}

.ContactUs-InputWrap {
    display: flex;
    flex-direction: column;
    width: 48%;
}

.ContactUs-Label {
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 600;
    color: #191919;
    margin-bottom: 10px;

}

.ContactUs-Input {
    width: 100%;
    height: 40px;
    border: 1px solid #e3e3e3;
    background-color: #FFF;
    border-radius: 5px;
    outline: none;
    color: #9a9a9a;
    font-weight: 600;
}

    .ContactUs-Company {
        width: 100%;
    }

.ContactUs-Closing {
    height: 40px;
    align-items: center;
    border-bottom: 1px solid #e3e3e3;
}

.ContactUs-Form-Text {
    font-size: 14px;
    color: #9a9a9a;
    
}

.ContactUs-Button {
    width: 100px;
    height: 30px;
    background-color: rgb(61, 155, 206);
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    outline: none;
    border: none;
    }

    .ContactUs-Button:hover {
        background-color: rgb(47, 126, 169);
    }


    

















@media screen and (max-width: 1000px){
    .ContactUs {
        margin-top: 60px;
    }
    .ContactUs-Title {
        margin-left: 30px;
    }
    .ContactUs-Content {
        flex-direction: column;
        align-items: center;

    }
    .ContactUs-TextBox {
        width: 60%;
        text-align: center;
    }
    .ContactUs-Form {
        width: 80%;
    }
}

@media screen and (max-width: 700px){
    .ContactUs-Form-Row {
        flex-direction: column;
    }
    .ContactUs-InputWrap {
        width: 100%;
        margin-bottom: 25px;
    }
    .ContactUs-Form-Row {
        margin-bottom: 0;
    }
    .ContactUs-TextBox {
        width: 80%;
        margin-bottom: 30px;
    }
    .ContactUs-Closing {
        flex-direction: row;

    }
}