.About {
  width: 100%;
}

.About-Wrapper {
  width: 100%;
  display: flex;
}

.About-Image {
  width: 60%;
  height: 400px;
  background: url("../../../Assets/Images/About/About.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.About-TextBox {
  padding: 20px;
  margin-left: 20px;
  width: 40%;
}

.About-Title {
  font-size: 22px;
  color: #191919;
  font-weight: 600;
  margin-bottom: 15px;
  margin-top: 40px;
}

.About-Text {
  font-size: 16px;
  color: #9a9a9a;
  width: 90%;
  margin-bottom: 50px;
}

.About-Button {
  width: 180px;
  margin-bottom: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.About-ButtonText {
  color: #191919;
  font-size: 16px;
  font-weight: 600;
}

.About-ButtonIcon {
  width: 12px;
  height: 12px;
  border-radius: 50%;
  background: url("../../../Assets/Icons/GreyCircleArrow.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}
@media screen and (max-width: 1000px) {
  .About-Wrapper {
    flex-direction: column;
  }

  .About-Image {
    width: 100%;
    height: 40vw;
  }

  .About-TextBox {
    width: 100%;
  }

  .About-Text {
    width: 60%;
  }

  .About-Title {
    margin-top: 10px;
  }
}
