.SuitesImageGrid {
  width: 100%;
  margin-bottom: 60px;
}

.SuitesImageGrid-Wrapper {
  width: 100%;
}

.SuitesImageGrid-Row {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}

.SuitesImageGrid-Row1-Image {
  width: 32%;
  height: 400px;
}

.SuitesImageGrid-Row2-Image {
  width: 49%;
  height: 400px;
}

.SuitesImageGrid-Image1 {
  background: url("../../../../../Assets/Images/Suites/SuitesGrid1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.SuitesImageGrid-Image2 {
  background: url("../../../../../Assets/Images/Suites/SuitesGrid2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.SuitesImageGrid-Image3 {
  background: url("../../../../../Assets/Images/Suites/SuitesGrid3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.SuitesImageGrid-Image4 {
  background: url("../../../../../Assets/Images/Suites/SuitesGrid4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.SuitesImageGrid-Image5 {
  background: url("../../../../../Assets/Images/Suites/SuitesGrid5.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.SuitesGridImage:hover {
  opacity: 0.9;
}
@media screen and (max-width: 1000px) {
  .SuitesImageGrid-Row1-Image {
    height: 40vw;
  }

  .SuitesImageGrid-Row2-Image {
    height: 40vw;
  }
}
