.CorporatePlanning {
  width: 100%;
  margin-bottom: 60px;
}

.CorporatePlanning-Wrapper {
  width: 100%;
}

.CorporatePlanning-Title {
  font-size: 24px;
  font-weight: 600;
  color: #191919;
  margin-bottom: 10px;
}

.CorporatePlanning-Button {
  width: 220px;
  height: 25px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
  margin-left: 20px;
  cursor: pointer;
}

.CorporatePlanning-ButtonText {
  font-size: 14px;
  font-weight: 600;
  color: #191919;
}

.CorporatePlanning-ButtonIcon {
  width: 10px;
  height: 10px;
  background: url("../././src/icons//BlackArrow.svg");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

.CorporatePlanning-CardWrap {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.CorporatePlanning-Card {
  width: 23.5%;
  height: 250px;
}

.CorporatePlanning-CardImage {
  width: 100%;
  height: 150px;
  cursor: pointer;
}

.CorporatePlanning-CardImage1 {
  background: url("../.././src/images//Gesture/CorporatePlanning1.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.CorporatePlanning-CardImage2 {
  background: url("../.././src/images//Gesture/CorporatePlanning2.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.CorporatePlanning-CardImage3 {
  background: url("../.././src/images//Gesture/CorporatePlanning3.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.CorporatePlanning-CardImage4 {
  background: url("../.././src/images//Gesture/CorporatePlanning4.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.CorporatePlanning-CardTextBox {
  width: 100%;
  height: 100px;
}

.CorporatePlanning-CardTitle {
  font-size: 14px;
  font-weight: 600;
  color: #191919;
  margin-bottom: 5px;
  cursor: pointer;
}

.CorporatePlanning-CardText {
  font-size: 14px;
  font-weight: 400;
  color: #9a9a9a;
}
@media screen and (max-width: 1000px) {
  .CorporatePlanning-CardWrap {
    flex-direction: column;
    align-items: center;
  }
}
@media screen and (max-width: 800px) {
  .CorporatePlanning-Card {
    width: 100%;
  }

  .CorporatePlanning-Title {
    margin-left: 20px;
  }

  .CorporatePlanning-CardTitle {
    margin-left: 20px;
  }

  .CorporatePlanning-CardText {
    margin-left: 20px;
  }
}
