.HomeSeating {
  width: 100%;
  margin-bottom: 60px;
}

.HomeSeating-Wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.HomeSeating-Image {
  width: 65%;
  height: 350px;
  background: url("../../../../../Assets/Images/Home/HomeSeating.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.HomeSeating-TextBox {
  width: 35%;
  padding-left: 20px;
}

.HomeSeating-Title {
  font-size: 24px;
  font-weight: 600;
  color: #191919;
  margin-bottom: 20px;
}

.HomeSeating-Text {
  font-size: 14px;
  font-weight: 400;
  color: #9a9a9a;
  line-height: 20px;
  margin-bottom: 20px;
}

.HomeSeating-Button {
  width: 150px;
  height: 25px;
  background-color: #848484;
  color: #FFF;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.HomeSeating-Button:hover {
  background-color: #585858;
}
@media screen and (max-width: 1000px) {
  .HomeSeating-Wrapper {
    flex-direction: column;
  }

  .HomeSeating-Image {
    width: 100%;
    height: 50vw;
    margin-bottom: 20px;
  }

  .HomeSeating-TextBox {
    width: 90%;
  }
}
