.SuitesArtistry {
  width: 100%;
  margin-bottom: 60px;
}

.SuitesArtistry-Wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.SuitesArtistry-Image {
  width: 65%;
  height: 400px;
  background: url("../.././src/images//Suites/SuitesArtistry.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.SuitesArtistry-TextBox {
  width: 35%;
  padding: 20px;
}

.SuitesArtistry-Category {
  font-size: 24px;
  font-weight: 600;
  color: #191919;
  margin-bottom: 10px;
}

.SuitesArtistry-Title {
  font-size: 14px;
  font-weight: 800;
  color: #585858;
  text-transform: uppercase;
  margin-bottom: 20px;
}

.SuitesArtistry-Text {
  font-size: 14px;
  color: #9a9a9a;
  line-height: 20px;
}
@media screen and (max-width: 1000px) {
  .SuitesArtistry-Wrapper {
    flex-direction: column-reverse;
  }

  .SuitesArtistry-Image {
    width: 100%;
    height: 50vw;
  }

  .SuitesArtistry-TextBox {
    width: 70%;
  }
}
