.PurchaseBar {
    width: 100%;
}

.PurchaseBar-Wrapper {
    width: 100%;
}

.PurchaseBar-TopRow {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c7c7c7;
}

.PurchaseBar-BottomRow {
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PurchaseBar-Title {
    font-size: 20px;
    font-weight: 600;
    color: #585858;
}

.PurchaseBar-Button {
    width: 125px;
    height: 25px;
    background-color: #585858;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.PurchaseBar-Button:hover {
    background-color: #717171;
}

.PurchaseBar-ButtonText {
    color: #FFF;
}

.PurchaseBar-Phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PurchaseBar-PhoneIcon {
    width: 22px;
    height: 22px;
    background: url('../../Assets/Icons/PhoneIcon.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.PurchaseBar-PhoneText {
    color: #585858;
}

.PurchaseBar-Store {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.PurchaseBar-StoreIcon {
    width: 22px;
    height: 22px;
    background: url('../../Assets/Icons/ShoppingIcon.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.PurchaseBar-StoreText {
    color: #585858;
}

.PurchaseBar-Dealer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.PurchaseBar-DealerIcon {
    width: 22px;
    height: 22px;
    background: url('../../Assets/Icons/LocationIcon.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.PurchaseBar-DealerText {
    color: #585858;
}


@media screen and (max-width: 1000px){
    .PurchaseBar-BottomRow {
        width: 100%;
        margin-left: 20px;
    }
}
