.Buying {
    width: 100%;
}

.Buying-Wrapper {
    width: 100%;
}
.Buying-TopRow {
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px solid #c7c7c7;
}

.Buying-BottomRow {
    width: 70%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Buying-Title {
    font-size: 20px;
    font-weight: 600;
    color: #585858;
}

.Buying-Button {
    width: 125px;
    height: 25px;
    background-color: #585858;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Buying-Button:hover {
    background-color: #717171;
}

.Buying-ButtonText {
    color: #FFF;
}

.Buying-Phone {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Buying-PhoneIcon {
    width: 22px;
    height: 22px;
    background: src('./src/icons/PhoneIcon.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.Buying-PhoneText {
    color: #585858;
}

.Buying-Store {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.Buying-StoreIcon {
    width: 22px;
    height: 22px;
    background: src('./src/icons/ShoppingIcon.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.Buying-StoreText {
    color: #585858;
}

.Buying-Dealer {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.Buying-DealerIcon {
    width: 22px;
    height: 22px;
    background: src('./src/icons/LocationIcon.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
    margin-right: 15px;
}

.Buying-DealerText {
    color: #585858;
}


@media screen and (max-width: 1000px){
    .Buying-BottomRow {
        width: 100%;
        margin-left: 20px;
    }
}
