.Series1Adjustability {
    width: 100%;
    margin-bottom: 60px;
}

.Series1Adjustability-Wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.Series1Adjustability-Image {
    width: 70%;
    height: 350px;
    background: url('../../../../../Assets/Images/Series1/Series1Video.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Series1Adjustability-TextBox {
    width: 30%;
    margin-left: 20px;
}

.Series1Adjustability-Title {
    font-size: 24px;
    font-weight: 600;
    color: #191919;
    margin-bottom: 20px;
}

.Series1Adjustability-Text {
    font-size: 14px;
    font-weight: 400;
    color: #9a9a9a;
    line-height: 20px;
    margin-bottom: 20px;
}

.Series1Adjustability-Button {
     width: 150px;
    height: 25px;
    background-color: #848484;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Series1Adjustability-Button:hover {
    background-color: #585858;
}


@media screen and (max-width: 1000px){
    .Series1Adjustability-Wrapper {
        flex-direction: column;
    }
    .Series1Adjustability-Image {
        width: 100%;
        height: 50vw;

    }
    .Series1Adjustability-TextBox {
        width: 70%;
    }
}