.HomeTabs {
  width: 100%;
  margin-bottom: 60px;
}

.HomeTabs-Wrapper {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.HomeTabs-Image {
  width: 70%;
  height: 350px;
  background: src('./images/inspirationGrid.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.HomeTabs-TextBox {
  width: 30%;
  margin-left: 20px;
}

.HomeTabs-Title {
  font-size: 24px;
  font-weight: 600;
  color: #191919;
  margin-bottom: 20px;
}

.HomeTabs-Text {
  font-size: 14px;
  font-weight: 400;
  color: #9a9a9a;
  line-height: 20px;
  margin-bottom: 20px;
}

.HomeTabs-Button {
  width: 150px;
  height: 25px;
  background-color: #848484;
  color: #fff;
  font-size: 14px;
  font-weight: 600;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.HomeTabs-Button:hover {
  background-color: #585858;
}
@media screen and (max-width: 1000px) {
  .HomeTabs-Wrapper {
    flex-direction: column;
  }

  .HomeTabs-Image {
    width: 100%;
    height: 50vw;
  }

  .HomeTabs-TextBox {
    width: 70%;
  }
}
