.SolutionsMenu {
  width: 200px;
}

.SolutionsMenu-Title {
  font-size: 20px;
  color: #191919;
  font-weight: 600;
  margin-bottom: 20px;
}

.SolutionsMenu-Links {
  width: 100%;
  padding: 20px 0 10px 20px;
  border-top: 1px solid #585858;
  border-bottom: 1px solid #585858;
  margin-bottom: 20px;
}

.SolutionsMenu-LinksTitle {
  font-size: 16px;
  color: #191919;
  font-weight: 600;
  margin-bottom: 10px;
}

.SolutionsMenu-Link {
  font-size: 14px;
  color: #9a9a9a;
  margin-bottom: 10px;
  font-weight: 600;
}

.SolutionsMenu-Link:hover {
  color: #717171;
}

.SolutionsMenu-Hook {
  font-size: 14px;
  color: #9a9a9a;
  padding-left: 20px;
  line-height: 20px;
}
@media screen and (max-width: 1000px) {
  .SolutionsMenu {
    width: 100%;
  }

  .SolutionsMenu-Links {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-left: 0;
  }

  .SolutionsMenu-Category {
    margin: 0 40px;
  }

  .SolutionsMenu-Title {
    margin-left: 30px;
  }
}
@media screen and (max-width: 600px) {
  .SolutionsMenu-Category {
    margin: 0 20px;
  }
}
