.MobileNav {
    width: 100%;
    height: 60px;
    background-color: #FFF;
    border-bottom: 2px solid #e3e3e3;
    display: none;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    z-index: 90;
}

.MobileNav-MenuIcon {
    width: 25px;
    height: 20px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    margin-left: 10px;
    cursor: pointer;


    .MobileNav-MenuIcon-Bar {
        width: 100%;
        height: 4px;
        background-color: #585858;
    }
}

.MobileNav-Logo {
    color: #585858;
    font-size: 28px;
    font-weight: 600;
    cursor: pointer;
}

.MobileNav-UserIcon {
    width: 22px;
    height: 22px; 
    background: url('../../../Assets/Icons/UserIcon.svg');
    background-position: center;
    background-size: contain;
    margin-right: 10px;
    cursor: pointer;
}













@media screen and (max-width: 1000px) {
    .MobileNav {
        display: flex;
    }
}