.Research {
    width: 100%;
    margin-top: 100px;
    text-align: center;
    
}

.Research-Wrapper {
    width: 100%;
}

.Research-TitleBlock {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}

.Research-Title {
    font-size: 22px;
    font-weight: 800;
    color: #585858;
}



@media screen and (max-width: 1000px){
    .Research {
        margin-top: 60px;
    }
}

@media screen and (max-width: 1000px){
    .Research-Title {
        margin-left: 20px;
    }
}