.Registration {
    width: 100%;
    margin-top: 100px;
}

.Registration-Wrapper {
    width: 100%;
}

.Registration-TitleBlock {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}

.Registration-Title {
    font-size: 22px;
    font-weight: 800;
    color: #585858;
}

.Registration-Content {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center
}

.Registration-Text {
    font-size: 16px;
    font-weight: 400;
    color: #9a9a9a;
    width: 50%;
    margin-bottom: 20px;
}




@media screen and (max-width: 1000px){
    .Registration {
        margin-top: 60px;
    }
    .Registration-Title {
        margin-left: 20px;
}
}

@media screen and (max-width: 600px){
    .Registration-Text {
        width: 80%;
    }
}