.Series1Hero {
    width: 100%;
    margin-bottom: 20px;
}

.Series1Hero-Wrapper {
    width: 100%;

}

.Series1Hero-Image {
    width: 100%;
    height: 450px;
    background: url('../../../../../Assets/Images/Series1/Series1Hero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}

.Series1Hero-WhiteBox {
    width: 330px;
    height: 200px;
    background-color: #FFF;
    position: absolute;
    top: 0;
    left: 0;
    margin-top: 50px;
    margin-left: 30px; 
}

.Series1Hero-WhiteBox-Top {
    width: 100%;
    height: 45px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background-color: #585858
}

.Series1Hero-WhiteBox-Title {
    font-size: 16px;
    color: #FFF;
    font-weight: 600;
    margin-left: 20px;
}

.Series1Hero-WhiteBox-TextWrap {
    width: 100%;
    height: 55%;
}

.Series1Hero-WhiteBox-Text {
    font-size: 14px;
    color: #9a9a9a;
    padding: 20px;
    line-height: 20px;
}

.Series1Hero-WhiteBox-Button {
    width: 90%;
    height: 25px;
    background-color: #585858;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    cursor: pointer;
}

.Series1Hero-WhiteBox-Button:hover {
    background-color: #717171;
}

.Series1Hero-WhiteBox-ButtonText {
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
}

.Series1Hero-Mobile-TextBox {
    width: 100%;
    padding: 20px;
    display: none;
}

.Series1Hero-Mobile-Title {
    font-size: 18px;
    font-weight: 600;
    color: #191919;
    margin-bottom: 10px;
}

.Series1Hero-Mobile-Text {
    font-size: 14px;
    color: #9a9a9a;
    width: 70%;
    line-height: 20px;
}



@media screen and (max-width: 1200px){
    .Series1Hero-Image {
        height: 375px;
    }
}

@media screen and (max-width: 1000px){
    .Series1Hero-Mobile-TextBox {
        display: block;
    }
    .Series1Hero-WhiteBox {
        display: none;
    }
    .Series1Hero-Image {
        height: 40vw;
    }
}