.ProductPageIntro {
    width: 100%;
    margin-bottom: 40px;
}

.ProductPageIntro-Content {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.ProductPageIntro-Image {
    width: 45%;
    height: 300px;
    background: url('../../../../../Assets/Images/ProductPage/ProductPageIntroHero.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.ProductPageIntro-TextSection {
    width: 54%;
    padding: 30px;
    padding-left: 0;
    margin-left: 40px;
}

.ProductPageIntro-Title {
    font-size: 28px;
    color:#191919;
    font-weight: 800;
    margin-bottom: 10px;
}

.ProductPageIntro-Text {
    font-size: 16px;
    color: #9a9a9a;
    margin-bottom: 10px;
    margin-right: 30px;
    line-height: 22px;
}


@media screen and (max-width: 1200px){
    .ProductPageIntro-Image {
        height: 250px;
    }
}
@media screen and (max-width: 1000px) {
    .ProductPageIntro-Image {
        height: 30vw;
    }
}

@media screen and (max-width: 800px){
    .ProductPageIntro-Title {
    font-size: 22px;
    }

    .ProductPageIntro-Text {
        font-size: 14px;
        line-height: 18px;
    }
}

@media screen and (max-width: 700px){
    .ProductPageIntro-Content {
        flex-direction: column;
    }
    .ProductPageIntro-Image {
        width: 100%;
        height: 40vw;
    }
    .ProductPageIntro-TextSection {
    width: 100%;
    padding: 30px;
    margin-left: 0;
    }
    .ProductPageIntro-Text {
        padding-right: 30px;
    }
}