.MobileOverlay {
    width: 100%;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background-color: rgba(0, 0, 0, 0.194);
    z-index: 95;
    display: none;
}

.MobileOverlay-Wrapper {
    width: 100%;
    height: 100%;
}

@media screen and (max-width: 1000px){
    .MobileOverlay {
        display: block;
    }   
}