.Series1Seating {
    width: 100%;
    margin-bottom: 60px;
}

.Series1Seating-Wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.Series1Seating-Image {
    width: 65%;
    height: 350px;
    background: url('../../../../../Assets/Images/Series1/Series1Seating.jpg');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

.Series1Seating-TextBox {
    width: 35%;
    padding-left: 20px;
}

.Series1Seating-Title {
    font-size: 24px;
    font-weight: 600;
    color: #191919;
    margin-bottom: 20px;
}

.Series1Seating-Text {
    font-size: 14px;
    font-weight: 400;
    color: #9a9a9a;
    line-height: 20px;
    margin-bottom: 20px;
}

.Series1Seating-Button {
    width: 150px;
    height: 25px;
    background-color: #848484;
    color: #FFF;
    font-size: 14px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.Series1Seating-Button:hover {
    background-color: #585858;
}

@media screen and (max-width: 1000px){
    .Series1Seating-Wrapper {
        flex-direction: column;
    }

    .Series1Seating-Image {
        width: 100%;
        height: 50vw;
        margin-bottom: 20px;
    }
    .Series1Seating-TextBox {
        width: 90%;
    }
}