.locations {
  width: 100%;
  margin-top: 100px;
}

.Showroom-Wrapper {
  width: 100%;
}

.Showroom-TitleBlock {
  width: 100%;
  height: 60px;
  border-bottom: 1px solid #e3e3e3;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 40px;
}

.Showroom-Title {
  font-size: 22px;
  font-weight: 800;
  color: #585858;
}

.Showroom-Content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-top: 1px dashed #9a9a9a;
  padding-top: 10px;
}

.Showroom-CardWrap {
  width: 40%;
  padding: 10px 0;
}

.Showroom-Card {
  width: 100%;
  display: flex;
  justify-content: space-between;
  border-bottom: 1px dashed #9a9a9a;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

.Showroom-CardLeft {
  text-align: left;
}

.Showroom-CardRight {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  padding-right: 10px;
}

.Showroom-Card-Title {
  font-size: 14px;
  font-weight: 600;
  color: #191919;
  white-space: nowrap;
}

.Showroom-Card-Text {
  font-size: 14px;
  font-weight: 400;
  color: #9a9a9a;
  margin-bottom: 5px;
}

.Showroom-Card-Button {
  width: 120px;
  height: 30px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #9a9a9a;
  white-space: nowrap;
  border: 1px solid #c7c7c7;
  font-size: 12px;
}

.Showroom-Card-Button:hover {
  background-color: #585858;
  color: #fff;
  cursor: pointer;
}

.Showroom-Map {
  width: 59%;
  height: 550px;
}
@media screen and (max-width: 1000px) {
  .Showroom {
    margin-top: 60px;
  }

  .Showroom-Content {
    flex-direction: column;
    align-items: center;
  }

  .Showroom-CardWrap {
    width: 90%;
    align-self: flex-start;
    padding-left: 20px;
  }

  .Showroom-Map {
    width: 95%;
    height: 80vh;
  }

  .Showroom-Title {
    padding-left: 20px;
  }
}
