.SuitesHero {
  width: 100%;
  margin-bottom: 20px;
}

.SuitesHero-Wrapper {
  width: 100%;
}

.SuitesHero-Image {
  width: 100%;
  height: 450px;
  background: url("../../../../../Assets/Images/Suites/SuitesHero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.SuitesHero-WhiteBox {
  width: 330px;
  height: 200px;
  background-color: #FFF;
  position: absolute;
  top: 0;
  left: 0;
  margin-top: 50px;
  margin-left: 30px;
}

.SuitesHero-WhiteBox-Top {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background-color: #585858;
}

.SuitesHero-WhiteBox-Title {
  font-size: 16px;
  color: #FFF;
  font-weight: 600;
  margin-left: 20px;
}

.SuitesHero-WhiteBox-TextWrap {
  width: 100%;
  height: 100%;
}

.SuitesHero-WhiteBox-Text {
  font-size: 14px;
  color: #9a9a9a;
  padding: 20px;
  line-height: 20px;
}

.SuitesHero-Mobile-TextBox {
  width: 100%;
  padding: 20px;
  display: none;
}

.SuitesHero-Mobile-Title {
  font-size: 18px;
  font-weight: 600;
  color: #191919;
  margin-bottom: 10px;
}

.SuitesHero-Mobile-Text {
  font-size: 14px;
  color: #9a9a9a;
  width: 70%;
  line-height: 20px;
}
@media screen and (max-width: 1200px) {
  .SuitesHero-Image {
    height: 375px;
  }
}
@media screen and (max-width: 1000px) {
  .SuitesHero-Mobile-TextBox {
    display: block;
  }

  .SuitesHero-WhiteBox {
    display: none;
  }

  .SuitesHero-Image {
    height: 40vw;
  }
}
