.News {
    width: 100%;
}

.News-Content {
    width: 100%
}

.News-Title {
    font-size: 28px;
    color:#191919;
    font-weight: 800;
    margin-left: 30px;
    margin-bottom: 20px;

}

.News-CardWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;

}

.News-Card {
    width: 32%;
}

.News-CardImage {
    width: 100%;
    height: 325px;
    margin-bottom: 20px;
    cursor: pointer;
}

    .News-CardImage1 {
        background: url('../../../../Assets/Images/Landing/LandingNews1.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .News-CardImage2 {
        background: url('../../../../Assets/Images/Landing/LandingNews2.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }
    .News-CardImage3 {
        background: url('../../../../Assets/Images/Landing/LandingNews3.jpg');
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

.News-Card-TextBox {
    padding: 20px;
    padding-left: 30px;
    
}

.News-CardDate {
    font-size: 14px;
    color: #9a9a9a;
    font-weight: 600;
    margin-bottom: 10px;
}

.News-CardTitle {
    font-size: 18px;
    color: #191919;
    font-weight: 800;
    margin-bottom: 10px;
    cursor: pointer;
}

.News-CardText {
    font-size: 14px;
    color: #9a9a9a;
}



@media screen and (max-width: 1200px){
    .News-CardImage {
        height: 275px;
    }
}

@media screen and (max-width: 1000px){
    .News-CardImage {
        height: 30vw;
    }
}

@media screen and (max-width: 600px){
    .News-CardWrapper {
        flex-direction: column;
        align-items: center;
    }
    .News-Card {
    width: 90%;
    margin-bottom: 40px;
    }   
    .News-CardImage {
        height: 50vw;
    }
}

@media screen and (max-width: 450px){
    .News-CardWrapper {
        padding: 0 
    }
    .News-Card {
    width: 100%
    }   
    .News-Title {
        font-size: 24px;
    }

    .News-CardImage {
        height: 60vw;
    }
    .News-CardTextBox {
        padding: 20px 30px;
    }
}