.FullNav {
    width: 100%;
    height: 100px;
    background-color: #FFF;
    border-bottom: 1px solid #e3e3e3;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 90;
}
    a {
        text-decoration: none;
    }

.FullNav-Wrapper {
    max-width: 1170px;
    height: 100%;
    margin: 0 auto;
}

.FullNav-TopRow {
  width: 100%;
  height: 65%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #585858;

  .FullNav-Logo {
      font-family: 'Program OT Bold', sans-serif;
    font-size: 36px;
    font-weight: 900;
    cursor: pointer;
    color: #585858;
  }

  .FullNav-UserLinks-Wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;

      .FullNav-RegistrationLink {
          color: #585858;

          .FullNav-Registration {
          font-size: 14px;
          font-weight: 600;
          margin-right: 30px;
          cursor: pointer;
        }
      }

      .FullNav-RegistrationLink:hover {
          color: #191919;
      }

        
      
      .FullNav-ContactBtn {
          width: 90px;
          height: 25px;
          background-color: rgb(61, 155, 206);
          display: flex;
          justify-content: center;
          align-items: center;
          cursor: pointer;

          .FullNav-ContactBtn-Text {
              color: #FFF;
              font-size: 12px;
              font-weight: 500;
          }
      }

      .FullNav-ContactBtn:hover {
          background-color: rgb(47, 126, 169)
      }
  }
}

.FullNav-BottomRow {
  width: 100%;
  height: 35%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  .FullNav-Links-Wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      width: 500px;

      .FullNav-Link {
          font-size: 14px;
          color: #9a9a9a;
          font-weight: 600;
          cursor: pointer;
      }
      .FullNav-Link:hover {
            color: #585858;
        }
        
  }

  .FullNav-Dealer-Wrapper {
      width: 120px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      cursor: pointer;

      .FullNav-Dealer-Icon {
          width: 15px;
          height: 22px;
          background: url('../../../Assets/Icons/LocationIconBlue.svg');
          background-position: center;
          background-size: contain;
          background-repeat: no-repeat;
      }

    

      .FullNav-Dealer-Text {
          color: rgb(61, 155, 206);
          font-size: 14px;
          font-weight: 600;
      }

      .FullNav-Dealer-Text:hover {
          color: rgb(47, 126, 169)
      }
  }
}

        .FullNav-Link:hover {
            color: #585858;
        }



@media screen and (max-width: 1200px){
    .FullNav-Wrapper {
        max-width: 980px;
    }
}

@media screen and (max-width: 1000px){
    .FullNav {
        display: none;
    }
}