.ProductPage {
    width: 100%;
    margin-top: 100px;
}

.ProductPage-Wrapper {
    width: 100%;
}

.ProductPage-TitleBlock {
    width: 100%;
    height: 60px;
    border-bottom: 1px solid #e3e3e3;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    margin-bottom: 40px;
}

.ProductPage-Title {
    font-size: 22px;
    font-weight: 800;
    color: #585858;
}





@media screen and (max-width: 1000px){
    .ProductPage {
        margin-top: 60px;
    }
    .ProductPage-Title {
        margin-left: 20px;
    }
}
