.WhatsNew {
    width: 100%;
    margin-bottom: 60px;
}

.WhatsNew-Content {
    width: 100%;
    display: flex;
    
}

.WhatsNew-TextSection {
    width: 45%;
    padding: 30px;
    padding-right: 0;
    padding-top: 0;
    
    .WhatsNew-Title {
        font-size: 28px;
        color:#191919;
        font-weight: 800;
        margin-bottom: 10px;
    }

    .WhatsNew-Text {
        font-size: 14px;
        color: #9a9a9a;
        margin-bottom: 10px;
        margin-right: 30px;
    }

    .WhatsNew-Button {
        width: 175px;
        height: 30px;
        display: flex;
        justify-content: space-between;
        align-items: center;
        cursor: pointer;

        .WhatsNew-ButtonText {
            color: #191919;
            font-size: 14px;
            font-weight: 600;
        }

        .WhatsNew-ButtonIcon {
            width: 12px;
            height: 12px;
            margin-right: 10px;

            .WhatsNew-ButtonIcon-Image {
                width: 100%;
                height: 100%;
                background: url('../../../../Assets/Icons/BlackArrow.svg');
                background-position: center;
                background-size: contain;
                background-repeat: no-repeat;
            }
        }
    }
}

.WhatsNew-Image {
    width: 55%;
    height: 300px;
    background: url('../../../../Assets/Images/Landing/WhatsNew.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


@media screen and (max-width: 1000px){
    .WhatsNew {
        margin-top: 150px;
    }
}

@media screen and (max-width: 700px){
    .WhatsNew-Content {
    flex-direction: column-reverse;
    }
    .WhatsNew-Image {
    width: 100%;
    height: 250px;
    }
    .WhatsNew-TextSection {
        width: 80%;
    }
    #WhatsNew-Title {
        margin-top: 20px;
        font-size: 22px;
    }
    #WhatsNew-Text {
        font-size: 14px;
    }
}