.LandingResearch {
    width: 100%;
    margin-bottom: 60px;
}

.LandingResearch-Content {
    width: 100%;

}

.LandingResearch-Title {
   font-size: 28px;
    color:#191919;
    font-weight: 800;
    margin-left: 30px;
    margin-bottom: 20px;
}

.LandingResearch-CardWrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.LandingResearch-Card1 {
    width: 44%;

}

.LandingResearch-Card2 {
    width: 54%;
}

.LandingResearch-Image1{
    width: 100%;
    height: 350px;
    background: url('../../../../Assets/Images/Landing/OurResearch1.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;    
}
.LandingResearch-Image2 {
    width: 100%;
    height: 500px;
    background: url('../../../../Assets/Images/Landing/OurResearch2.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;  
}

.LandingResearch-TextBox {
    padding: 30px;   
}

.LandingResearch-CardTitle {
    font-size: 18px;
    color: #191919;
    font-weight: 800;
    margin-bottom: 10px;
}

.LandingResearch-CardText {
    font-size: 14px;
    color: #9a9a9a;
    margin-bottom: 10px;
}

.LandingResearch-CardButton {
    width: 110px;
    height: 25px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.LandingResearch-CardButtonText {
    font-size: 12px;
    font-weight: 600;
    color: #191919;
}

.LandingResearch-CardButtonIcon {
    width: 10px;
    height: 10px;
    margin-right: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.LandingResearch-CardButtonIcon-Image {
    width: 100%;
    height: 100%;
    background: url('../../../../Assets/Icons/BlackArrow.svg');
    background-position: center;
    background-size: contain;
    background-repeat: no-repeat;
}



@media screen and (max-width: 1000px){
    .LandingResearch-Image1 {
        height: 40vw;
    }
    .LandingResearch-Image2 {
        height: 50vw;
    }
}

@media screen and (max-width: 600px){
    .LandingResearch-CardWrapper {
        width: 100%;
        display: flex;
        flex-direction: column;
    }
    .LandingResearch-Card1 {
        width: 100%;
    }
    .LandingResearch-Card2 {
        width: 100%;
    }
}
